@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
  /* border: none; */
  outline: none;
  text-decoration: none;
  overflow: hidden;
}
html {
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  z-index: -1;
}
/* html.active {
  overflow-y: hidden;
} */
.cart {
  right: -450px;
  transition: right 0.5s;
}

.cart.active {
  right: 0;
}
.overlay {
  display: none;
}

.overlay.active {
  display: block;
}
